body {
	margin: 15px;
	background-color: #F6F6F6;
}
.form ul {
	list-style-type: none;
	padding: 0px;
}
.form ul li {
	padding-bottom: 10px;
}
.input_bar {
	box-sizing: border-box;
	padding: 0px;
    padding-left: 6px;
	height: 21px;
    width: 100%;
}
.date_picker {
	box-sizing: border-box;
	padding: 0px;
    padding-left: 6px;
	height: 21px;
}
.result {
	border-collapse: collapse;
    text-align: left;
	width: 100%;
}

.result tr {
	border: 1px solid gray;
}
.result th {
	padding: 10px;
	background-color: lightgray;
}
.result td {
	padding: 5px 10px;
}
.result .num {
	width: 1%;
}
.result .file {
	width: 50%;
}
.result .commits {
	width: 10%;
}
.result .authors  p {
    margin: 0;
}
.result .authors {
	width: 40%;
}
.result .authors .count {
	padding-left: 12px;
    font-weight: bold;
}
.log {
	margin-top: 50px;
    color: dimgrey;
}
.stepper {
	float: left;
	border: 1px solid gray;
    margin: 6px 0px;
    padding: 5px 10px;
    display: block;
    list-style-type: none;
}
.stepper li {
	float: left;
}
.stepper .value {
	padding: 0px 15px;
}
.sorting {
	display: block;
	margin-top: 2px;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
}
.sorting a{
	color: blue;
}
.sorting span {
	margin-right: 8px;
}